<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>首页</title>
        <p>你好</p>
        <a href="http://localhost:5000/generate_url" class="nav-link">
                🌐 跳转访问http://localhost:5000/generate_url
        </a>
        <br>
        <a href="http://localhost:5000/Custom_route/date_event/2024-06-10" class="nav-link">
                🌐 跳转访问http://localhost:5000/Custom_route/date_event/2024-06-10
        </a>
        <br>
        <p>跳转访问http://localhost:5000/Custom_route/date_event/时间日期，都可以自动路由处理</p>
        <br>
        <a href="http://localhost:5000/user/18799999999" class="nav-link">
                🌐 跳转访问http://localhost:5000/user/18799999999
        </a>
        <br></br>
        <a href="http://localhost:5000/user/187999999991" class="nav-link">
                🌐 跳转访问http://localhost:5000/user/187999999991,可以被abort异常捕获抛出404后跳转到404.html
        </a>
        <p>跳转访问http://localhost:5000/user/时电话号码，都可以自动路由处理</p>
        <br>




        <style>
            body {
                font-family: Arial, sans-serif;
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
                line-height: 1.6;
            }
        </style>
        </meta>
        </meta>
    </head>

<head> 
</head>     
</html>